 OpenDentBusiness/bin/
 OpenDentBusiness/obj/
 OpenDentHL7/bin/
 OpenDentHL7/obj/
 OpenDental/bin/
 OpenDental/bin/Debug/OpenDentBusiness.dll
 OpenDental/bin/Debug/OpenDentBusiness.pdb
 OpenDental/bin/Debug/OpenDentBusiness.xml
 OpenDental/bin/Debug/OpenDental.vshost.exe
 OpenDental/bin/Debug/OpenDental.vshost.exe.config
 OpenDental/bin/Debug/OpenDental.vshost.exe.manifest
 OpenDental/bin/Debug/OpenDentalGraph.dll
 OpenDental/bin/Debug/OpenDentalGraph.pdb
 OpenDental/bin/Debug/OpenDentalHelp.dll
 OpenDental/bin/Debug/OpenDentalWpf.dll
 OpenDental/bin/Debug/OpenDentalWpf.pdb
 OpenDental/bin/Debug/OpenPop.dll
 OpenDental/bin/Debug/Oracle.DataAccess.dll
 OpenDental/bin/Debug/Org.Mentalis.Security.dll
 OpenDental/bin/Debug/PdfSharp.Charting.dll
 OpenDental/bin/Debug/PdfSharp.dll
 OpenDental/bin/Debug/RS232.dll
 OpenDental/bin/Debug/RdlEngine.dll
 OpenDental/bin/Debug/RdlEngine.pdb
 OpenDental/bin/Debug/RdlViewer.dll
 OpenDental/bin/Debug/RdlViewer.pdb
 OpenDental/bin/Debug/ServiceManager.exe
 OpenDental/bin/Debug/ServiceManager.pdb
 OpenDental/bin/Debug/SigPlusNET.dll
 OpenDental/bin/Debug/SparksToothChart.dll
 OpenDental/bin/Debug/SparksToothChart.pdb
 OpenDental/bin/Debug/Tamir.SharpSSH.dll
 OpenDental/bin/Debug/Tao.OpenGl.dll
 OpenDental/bin/Debug/Tao.Platform.Windows.dll
 OpenDental/bin/Debug/VBbridges.dll
 OpenDental/bin/Debug/stdole.dll
 OpenDental/bin/Debug/tempCompNames.txt
 OpenDental/bin/Debug/xImageDeviceManager.dll
 OpenDental/obj/
 OpenDentalGraph/bin/
 OpenDentalGraph/obj/
 OpenDentalServer/bin/
 OpenDentalServer/obj/
 OpenDentalWpf/bin/
 OpenDentalWpf/obj/
 RdlDesign/bin/
 RdlDesign/obj/
 RdlEngine/bin/
 RdlEngine/obj/
 RdlViewer/bin/
 RdlViewer/obj/
 ServiceManager/bin/
 ServiceManager/obj/
 SparksToothChart/bin/
 SparksToothChart/obj/
 TestCanada/bin/
 TestCanada/obj/
 TestToothChart/bin/
 TestToothChart/obj/
 UnitTests/bin/
 UnitTests/obj/
 UpdateFileCopier/bin/
 UpdateFileCopier/obj/
 WebCamOD/bin/
 WebCamOD/obj/
 WebForms/bin/
 WebForms/obj/
 WebHostSynch/bin/
 WebHostSynch/obj/
 packages/
 xCrudGenerator/bin/
 xCrudGenerator/obj/
.vs/
 CodeBase/
 DataBaseIntegrityCheck/
 MobileWeb/bin
 ODR/bin
 ODR/obj
 CentralManager/obj
 MobileWeb/obj